---
import { SITE_NAME, SITE_DESCRIPTION, SITE_LANGUAGE } from '../../../config';

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import 'styles:global';
import { getBaseUrl } from 'utils';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

// TODO: Update to the correct image
const {
  title = SITE_NAME,
  description = SITE_DESCRIPTION,
  image = 'assets/images/logo.svg',
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link
  rel="icon"
  type="image/x-icon"
  href={getBaseUrl('assets/images/favicon.ico')}
/>
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={SITE_NAME} />

<!-- Open Graph / Facebook -->
<meta property="og:locale" content={SITE_LANGUAGE} />
<meta property="og:site_name" content={SITE_NAME} />
<meta property="og:type" content="website" />
<meta property="og:url" content={getBaseUrl('')} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={getBaseUrl(image)} />
<meta property="og:image:alt" content={title} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={getBaseUrl('')} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={getBaseUrl('assets/images/home-preview.png')}
/>
<meta property="twitter:image:alt" content={title} />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>
