---
import Button from 'components:Button/index';
import Heading from 'components:Heading/index';
import './styles.css';

export interface CardInfoProps {
  className?: string;
  imageUrl?: object;
  imageAlt?: string;
  heading?: string;
  isReversed?: boolean;
}

const {
  className = '',
  imageUrl = {
    url: '',
    urlTablet: '', 
    urlDesktop: ''
  },
  heading = '',
  imageAlt = heading,
  isReversed = false,
} = Astro.props;
---

<div class={`card-info ${isReversed ? 'card-info-reverse' : ''} ${className}`}>
  <div class="text-center card-image">
    <picture>
      <source
        media="(min-width: 576px)"
        srcset={imageUrl.urlTablet}
      />
      <source
        media="(min-width: 1200px)"
        srcset={imageUrl.urlDesktop}
        width="292"
        height="100%"
      />
      <img
        src={imageUrl.url}
        alt={imageAlt}
        width="183"
        height="398"
      />
    </picture>
  </div>
  <div class="card-info-content">
    <Heading size="sm" className="card-info-heading">{heading}</Heading>
    <slot />
    <Button className="card-info-button">Sign Up</Button>
  </div>
</div>
