---
import Button from 'components:Button/index';
import Heading from 'components:Heading/index';
import LazyLoadImage from 'components:LazyLoadImage/index';
import './styles.css';

export interface CardInfoProps {
  className?: string;
  heading?: string;
  isReversed?: boolean;
}

const {
  className = '',
  imageUrl = {
    mobile: '',
    tablet: '',
    desktop: '',
  },
  imageWidth = {
    mobile: '',
    tablet: '',
    desktop: '',
  },
  heading = '',
  imageAlt = heading,
  isReversed = false,
} = Astro.props;
---

<div class={`card-info ${isReversed ? 'card-info-reverse' : ''} ${className}`}>
  <LazyLoadImage
    className="card-image"
    imageAlt={imageAlt}
    imageUrl={imageUrl}
    imageWidth={imageWidth}
  />
  <div class="card-info-content">
    <Heading size="sm" className="card-info-heading">{heading}</Heading>
    <slot />
    <Button className="card-info-button" onclick="window.scrollTo(0, 0)"
      >Sign Up
    </Button>
  </div>
</div>
