---
import TwitterIcon from 'components:SocialIcon/Twitter';
import FacebookIcon from 'components:SocialIcon/Facebook';
import InstagramIcon from 'components:SocialIcon/Instagram';
import { POST_SOURES, POST_CARD_DESCRIPTION_MAX_WORDS } from 'constants:index';
import './styles.css';

interface PostCard {
  user: {
    name?: string;
    username?: string;
    profileUrl?: string;
    avatarUrl?: string;
  };
  description?: string;
  thumbnailUrl?: {
    mobile?: string;
    tablet?: string;
    desktop?: string;
  };
  source?: string;
  url?: string;
}

export interface PostCardProps {
  data: PostCard;
  className?: string;
}

const { data, className = '' } = Astro.props as PostCardProps;

const descriptionWordsLength = data.description.split(' ').length;
let description = data.description;

if (descriptionWordsLength > POST_CARD_DESCRIPTION_MAX_WORDS) {
  description =
    data.description
      .split(/\s+/)
      .slice(0, POST_CARD_DESCRIPTION_MAX_WORDS)
      .join(' ') + ' ...';
}
---

<article class={`post-card ${className}`}>
  <div class="d-flex post-card-header">
    <a href={data.user.profileUrl} class="d-flex post-card-user">
      <img
        src={data.user.avatarUrl}
        alt={data.user.name || data.user.username}
        class="post-card-avatar"
      />
      <div class="d-flex-column">
        <span class="text-bold post-card-user-fullname">{data.user.name}</span>
        {
          data.source === POST_SOURES.TWITTER && (
            <span class="post-card-username">{`@${data.user.username}`}</span>
          )
        }
      </div>
    </a>
    {data.source === POST_SOURES.TWITTER && <TwitterIcon href={data.url} />}
    {data.source === POST_SOURES.FACEBOOK && <FacebookIcon href={data.url} />}
    {data.source === POST_SOURES.INSTAGRAM && <InstagramIcon href={data.url} />}
  </div>
  <div class="post-card-body">
    {data.description && <p class="post-card-description">{description}</p>}
    <a href={data.url}>
      <picture class="d-flex post-card-thumbnail">
        <source media="(min-width: 768px)" srcset={data.thumbnailUrl.tablet} />
        <img
          src={data.thumbnailUrl.mobile}
          alt={data.description}
          width="100%"
          height="100%"
        />
      </picture>
    </a>
  </div>
</article>
