---
import './styles.css';

export interface DownLoadButtonProps {
  label?: string;
  labelTitle?: string;
  key?: string;
  className?: string;
  btnClass?: string;
  href?: string;
}

const { label, labelTitle, className = '', key = '', href = '' } = Astro.props;
---

<a href={href} role="button" class={className}>
  <i class={`button-icon icon-${key}`}></i>
  <p class="btn-label" rel="noopener">
    <span class={`btn-label-title btn-label-title-${key}`}>{labelTitle}</span>
    <span class={`btn-label-heading btn-label-${key}`}>{label}</span>
  </p>
</a>
