---
import './styles.css';

export interface SocialiconProps {
  className?: string;
  classNameIcon?: string;
  imageUrl?: string;
  imageAlt?: string;
  href?: string;
}

const {
  className = '',
  classNameIcon = '',
  imageUrl = '',
  imageAlt = '',
  href = ''
} = Astro.props;
---

<div class={className}>
  <a class={`d-flex social-item ${classNameIcon}`} href={href}
    ><img src={imageUrl} alt={imageAlt} />
  </a>
</div>
