---
import Button from 'components:Button/index';
import Heading from 'components:Heading/index';
import './styles.css';

export interface CardInfoProps {
  className?: string;
  src?: string;
  alt?: string;
  heading?: string;
  description?: string;
}

const {
  className = '',
  src = '',
  alt = '',
  heading = '',
  description = ''
} = Astro.props;
---

<div class={`card-info-thumb ${className}`}>
  <div class="text-center card-info-image">
    <img src={src} alt={alt} />
  </div>
  <div class="card-info-content">
    <Heading size="sm" className="card-info-heading">{heading}</Heading>
    <p class="card-info-description">
      {description}
    </p>
    <Button className="card-info-button">Sign Up</Button>
  </div>
</div>
