---
import THEME_BASE from 'themes:base';
import BaseHead from 'layouts:components/BaseHead/index';
import Header from 'layouts:components/Header/index';
import Footer from 'layouts:components/Footer/index';
import ApiProvider from './ApiProvider';
import HydrateProvider from 'src/layouts/HydrateProvider';

export interface Props {
  className?: string;
  title?: string;
  description?: string;
  hasHeaderOverlap?: boolean;
  showHero?: boolean;
  showReferral?: boolean;
  showContact?: boolean;
  privateRoute?: boolean;
}

const {
  title,
  description,
  hasHeaderOverlap,
  showHero,
  showReferral,
  showContact,
  className,
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <script>
      // Require secured password to access system
      if (!localStorage.getItem('securedPassword')) {
        location.replace('/');
      }
    </script>
  </head>
  <body>
    <!-- Header -->
    <Header hasOverlap={hasHeaderOverlap} />

    <!-- Main -->
    <main
      class={`${
        hasHeaderOverlap ? 'main-content-overlap' : className || 'main-content'
      }`}
    >
      <ApiProvider client:load>
        <HydrateProvider
          client:load
          showHero={showHero}
          showReferral={showReferral}
          showContact={showContact}
        >
          <slot />
        </HydrateProvider>
      </ApiProvider>
    </main>

    <!-- Footer -->
    <Footer />

    <!-- Global styles -->
    <style
      is:global
      define:vars={{
        ...THEME_BASE,
      }}
    >

    </style>
    <script>
      var global = global || window;
      var Buffer = Buffer || [];
      var process = process || { env: { DEBUG: undefined }, version: [] };
    </script>

    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const code = urlParams.get('code');
      if (code && code.length === 8) {
        localStorage.setItem('referralCode', JSON.stringify(code));
        window.location.href = '/home';
      }
    </script>
  </body>
</html>
