---
import './styles.css';

export interface PostCardProps {
  description?: string;
  avatarUrl?: string;
  avatarAlt?: string;
  thumbnail?: string;
  thumbnailAlt?: string;
  profileUrl?: string;
  profileAlt?: string;
  altUrl?: string;
  name?: string;
  userName?: string;
  url?: string;
  source?: string;
}

const {
  avatarAlt = '',
  avatarUrl = '',
  thumbnail = '',
  thumbnailAlt = '',
  profileUrl = '',
  profileAlt = '',
  description = '',
  name = '',
  userName = '',
  url = '',
  source = ''
} = Astro.props as PostCardProps;
---

<div class="post-card">
  <div class="d-flex post-card-user">
    <div class="d-flex post-card-profile">
      <img src={avatarUrl} alt={avatarAlt} class="post-card-avatar" />
      <div class="d-flex-column post-card-detail">
        <span class="text-bold post-card-name">{name}</span>
        <span class="post-card-username">{userName}</span>
      </div>
    </div>
    <a href="#" class="post-card-icon"
      ><img src={profileUrl} alt={profileAlt} />
    </a>
  </div>
  <p class="post-card-description">{description}</p>
  <div class="d-flex post-card-image">
    <img src={thumbnail} alt={thumbnailAlt} />
  </div>
</div>
