---
import './styles.css';

interface PostCard {
  user: {
    name: '';
    username: '';
    profileUrl: '';
    avatarUrl: '';
  };
  description: '';
  thumbnailUrl: '';
  source: '';
  url: '';
}

export interface PostCardProps {
  data: PostCard;
}

const { data } = Astro.props as PostCardProps;
---

<article class="post-card">
  <div class="d-flex post-card-header">
    <a href="#" class="d-flex post-card-user">
      <img
        src={data.user.avatarUrl}
        alt={data.user.name || data.user.username}
        class="post-card-avatar"
      />
      <div class="d-flex-column post-card-detail">
        <span class="text-bold post-card-name">{data.user.name}</span>
        <span class="post-card-username">{data.user.username}</span>
      </div>
    </a>
    <a href={data.url} class="post-card-url"
      ><img src={data.source} alt={data.description} />
    </a>
  </div>
  <div class="post-card-body">
    <p class="post-card-description">{data.description}</p>
    <a href="#" class="d-flex post-card-thumbnail">
      <img src={data.thumbnailUrl} alt={data.description} />
    </a>
  </div>
</article>
